*{
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #171717;
}
.main{
	position: relative;
}
.color{
	border: 1px solid white;
	background-color: white;
	width: 300px;
	height: 1000%;
}
.box{
	border: 1px solid #363636;
	position: relative;
	top: 284px;
	left:26%;
	width: 16%;
	height: 380px;
}
img{
	
	position: absolute;
	left: 28%;
	width: 40%;
	top: 12%;
	transition: 1s ease;
}
.hovertext{
	position: absolute;
	top: 20%;
	left: 30%;
	line-height: 2.1;
	font-size: 14px;
	color: white;
	opacity: 0;	
}
.maintext{
	position: absolute;
	top: 64%;
	left: 26%;
	color: #f7ac54;
	transition: 1s ease;
}
.cont::before{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 0%;
  height: 1px;
  top: 0;
  left:0%;
}
.box:hover .cont::before{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 25%;
  height: 1px;
  top: 0;
  left: 0px;
  transition: 1s ease;
}
.cont::after{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 1px;
  height: 0%;
  top: 0;
  left: 0px;
}
.box:hover .cont::after{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 1px;
  height: 20%;
  top: 0;
  left: 0px;
  transition: 1s ease
}


.box:hover img{
	width: 62px;
	top: 12px;
	left: 12px;
	transition: 1s ease;	
}	

.box:hover .maintext{
	position: absolute;
	top: 134px;
	left: -31px;
	transition: 1s ease;
	transform: rotate(90deg);
}
.box:hover .hovertext{
	position: absolute;
	top: 0%;
	opacity: 1;	
	transition: 1s linear;
	transition-delay: 2s;
}
.box2{
	border: 1px solid #363636;
	position: relative;
	top: -97px;
	left:42%;
	width: 16%;
	height: 381px;
	overflow: hidden;
}
.box2:hover .cont::before{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 25%;
  height: 1px;
  top: 0;
  left:-12px;
  transition: 1s ease;
}
.box2:hover .cont::after{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 1px;
  height: 20%;
  top: 0;
  left: 0px;
  transition: 1s ease
}
.box2:hover img{
	width: 62px;
	top: 12px;
	left: 12px;
	transition: 1s ease;	
}	

.box2:hover .maintext{
	position: absolute;
	top: 127px;
	left: -31px;
	transform: rotate(90deg);
}
.box2:hover .hovertext{
	position: absolute;
	top: 0%;
	opacity: 1;	
	transition: 1s linear;
	transition-delay: 2s;
}
.box3{
	border: 1px solid #363636;
	position: relative;
	top: -479px;
	left:58%;
	width: 16%;
	height: 379px;
	overflow: hidden;
}
.box3:hover .cont::before{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 25%;
  height: 1px;
  top: 0;
  left:-12px;
  transition: 1s ease;
}
.box3:hover .cont::after{          
  content:'';
  position: absolute;
  background-color: #f7ac54;
  width: 1px;
  height: 20%;
  top: 0;
  left: 0px;
  transition: 1s ease
}
.box3:hover img{
	width: 62px;
	top: 12px;
	left: 12px;
	transition: 1s ease;	
}	

.box3:hover .maintext{
	position: absolute;
	top: 127px;
	left: -31px;
	transform: rotate(90deg);
}
.box3:hover .hovertext{
	position: absolute;
	top: 0%;
	opacity: 1;	
	transition: 1s linear;
	transition-delay: 2s;
}